[user]
	name = Andy Schriner
	email = andrew@leadgenius.com
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	hooksPath = ~/.githooks

[grep]
	linenumber = true
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	co = checkout
	where = !git reflog | ggrep -P \"(?<=checkout: moving from) ([^\\s]+)\" --color=always |less
	unstage = reset HEAD --
	sort = !git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads | less
	cm = checkout master
    amendforce = !git add -u && git commit --amend --no-edit && git push origin HEAD --force-with-lease
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[credential]
	helper = osxkeychain
[rerere]
	enabled = true
[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
